# Impede que uploads sejam executados como scripts
<FilesMatch "\.(php|phtml|phar|php3|php4|php5|php7|phps|inc|pl|py|cgi|sh)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Deny from all
    </IfModule>
</FilesMatch>

# Força download ao invés de execução
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

Options -ExecCGI
